.board-list {
  width: 768px;
  margin: auto;
  /* background-color: black; */
}

.board-detail {
  width: 768px;
  margin: auto;
  text-align: left;
}

.board-contents {
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
}

.common-buttons {
  padding: 8px;
  text-align: right;
}

#titless {
  background-image: linear-gradient(135deg, #3670f7 0%, #9368f8 100%);
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 25px;
}